.*.sw*
config.log
config.status
*.pyc
ve-phone/config.ini
*/bin
*/lib
.vagrant
third_party/WiringCB-python/WiringPi/gpio/gpio
ENV
config.ini
output
bin
build
third_party/pjproject-2.4.5/build.mak
third_party/pjproject-2.4.5/pjlib-util/lib/
third_party/pjproject-2.4.5/pjlib/include/pj/compat/m_auto.h
third_party/pjproject-2.4.5/pjlib/include/pj/compat/os_auto.h
third_party/pjproject-2.4.5/pjlib/include/pj/config_site.h
third_party/pjproject-2.4.5/pjlib/lib/
third_party/pjproject-2.4.5/pjmedia/include/pjmedia-codec/config_auto.h
third_party/pjproject-2.4.5/pjmedia/include/pjmedia/config_auto.h
third_party/pjproject-2.4.5/pjmedia/lib/
third_party/pjproject-2.4.5/pjnath/lib/
third_party/pjproject-2.4.5/pjsip/include/pjsip/sip_autoconf.h
third_party/pjproject-2.4.5/pjsip/lib/
third_party/pjproject-2.4.5/third_party/lib/
third_party/pjproject-2.13.1/pjsip-apps/src/swig/python/dist/
third_party/pjproject-2.13.1/pjsip-apps/src/swig/python/pjsua2.egg-info/
.vscode
